<!DOCTYPE html>
<html>

<head>
    <title>PWA-ize any URL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="icon" type="image/svg" href="icons/pwa-ize-favicon.svg">
    <link rel="icon" type="image/png" href="icons/pwa-ize-favicon.png" sizes="16x16">
    <!-- Manifest -->
    <link rel="manifest" id="manifest-placeholder">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <style type="text/css">
        pre {
            overflow: auto;
            background: #efefef;
            color: #555;
            padding: 10px;
        }
        [v-cloak] {
            display: none;
        }
        .orange {
            background-color: #fb8c00 !important;
        }
    </style>

    <!-- Primary Meta Tags -->
    <title>PWA-ize</title>
    <meta name="title" content="PWA-ize">
    <meta name="description" content="Transform any website into a PWA, so they can be opened into separate Web Containers on mobile phones.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://derlin.github.io/pwa-ize/">
    <meta property="og:title" content="PWA-ize">
    <meta property="og:description" content="Transform any website into a PWA, so they can be opened into separate Web Containers on mobile phones.">
    <meta property="og:image" content="https://derlin.github.io/pwa-ize/icons/pwa-ize-share.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://derlin.github.io/pwa-ize/">
    <meta property="twitter:title" content="PWA-ize">
    <meta property="twitter:description" content="Transform any website into a PWA, so they can be opened into separate Web Containers on mobile phones.">
    <meta property="twitter:image" content="https://derlin.github.io/pwa-ize/icons/pwa-ize-share.png">
</head>

<body>
    <div id="app" class="container">

        <img src="icons/pwa-ize-horizontal.svg" style="height: 52px; margin: 10px">

        <!-- URL input -->
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons">my_location</i>Target</div>
                <div class="collapsible-body">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="url" id="url" v-model="input.url" class="validate">
                                <label for="url">URL</label>
                            </div>

                            <div class="input-field col s12">
                                <input type="text" id="title" v-model="input.title" class="validate">
                                <label for="title">Title</label>
                            </div>
                            <p v-if="error"><b>Error:</b> {{error}}</p>
                        </div>
                    </form>

                    <a v-on:click="generateManifest()" class="waves-effect waves-light btn orange">Generate manifest</a>
                </div>
            </li>
        </ul>

        <!-- Result -->
        <div class="card" v-if="generated.manifest" v-cloack>
            <div class="card-content">
                <h3>You're done !</h3>
                <p>You can now install <b>{{generated.title}}</b>
                    (<a v-bind:href="this.generated.url.href">{{this.generated.url.href}}</a>).</p>
                <p>Click on <i>add to home screen</i> (Android) and you are all set !</p>
                <br>
                <p>The link to this install page is <a v-bind:href="generated.thislink">{{generated.thislink}}</a>.</p>
                <br>
                <p>For information, here is the generated manifest:</p>
                <pre><code>{{generated.manifest}}</code></pre>
            </div>
        </div>

    </div>


    <script type="text/javascript">
        const params = new URLSearchParams(window.location.search);
        const app = new Vue({
            el: "#app",

            data: {
                input: {
                    url: params.get('url') || '',
                    title: params.get('title') || ''
                },
                generated: {
                    url: null,
                    title: null,
                    manifest: null, 
                    thislink: null
                },
                manifestHolder: null,
                error: ""
            },

            methods: {

                generateManifest: function () {

                    // ensure the URL is valid
                    try {
                        this.generated.url = new URL(this.input.url);
                    } catch {
                        this.error = 'the provided URL is not a valid URL';
                        return;
                    }

                    this.generated.thislink = window.location.href.split('?')[0] + `?url=${this.generated.url}`;
                    // if no title is set, add default to hostname
                    if ((this.input.title || "").trim().length == 0) {
                        this.generated.title = this.generated.url.hostname;
                    } else {
                        this.generated.title = this.input.title.trim();
                        this.generated.thislink += `&title=${this.generated.title}`;
                    }

                    // create manifest
                    // https://medium.com/@alshakero/how-to-setup-your-web-app-manifest-dynamically-using-javascript-f7fbee899a61
                    const self = this;
                    const url_base = 
                    this.generated.manifest = JSON.stringify({
                        "background_color": "white",
                        "description": "PWA-ize any website so it can be opened in a separate Chrome container in Android",
                        "display": "fullscreen",
                        "name": `${this.generated.title} PWA`,
                        "short_name": `${this.generated.title} PWA`,
                        "start_url": `${window.location.href}/pwa-ize.html?url=${this.generated.url.href}`,
                        // try as many sizes as possible
                        "icons": [64,128,192,256,512].map(function(size){ return {
                            "src": `https://www.google.com/s2/favicons?sz=${size}&domain=${self.generated.url.hostname}`,
                            "sizes": `${size}x${size}`,
                            "type": "image/png"
                        }}),
                        "start_url": new URL(`redirect.html?url=${this.generated.url.href}`, window.location.href)
                    }, null, 2);

                    const blob = new Blob([this.generated.manifest], { type: 'application/json' });
                    this.manifestHolder.setAttribute('href', URL.createObjectURL(blob));
                    this.collapsible.close();
                }
            },


            mounted: function () {
                this.collapsible = M.Collapsible.init(document.querySelectorAll('.collapsible')[0]);
                this.manifestHolder = document.getElementById('manifest-placeholder');
                if(this.input.url) this.generateManifest();
            }
        });
    </script>
</body>

</html>