<!DOCTYPE html>
<html>

<head>
    <title>PWAs shortcuts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="icons/pwa-ize-favicon.svg">
    <link rel="icon" type="image/png" href="icons/pwa-ize-favicon.png" sizes="16x16">
    <link rel="manifest" href="shortcuts.webmanifest">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        html {
            background: rgb(254, 254, 254);
            background: radial-gradient(circle, rgba(254, 254, 254, 1) 1%, rgba(230, 229, 229, 1) 70%, rgba(249, 246, 246, 1) 100%);
            font-family: 'Gayathri', sans-serif;
        }

        .collection {
            border: none;
        }

        .collection .collection-item.avatar .title {
            font-weight: bold;
            font-size: 1.2em;
        }


        .collection .collection-item.avatar {
            min-height: 60px;
            cursor: pointer;
            margin-bottom: 5pt;
        }
    </style>
</head>

<body>
    <div id="app" class="container">

        <!-- Modal Add -->
        <div id="modal-add" class="modal">
            <div class="modal-content">
                <form class="col s12">

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="url" id="url" v-model="newLink" class="validate">
                            <label for="url">URL</label>
                        </div>

                        <div class="input-field col s12">
                            <input type="text" id="title" v-model="newLinkName" class="validate">
                            <label for="title">Title</label>
                        </div>
                    </div>

                    <div v-if="error">Error: {{error}}</div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="#!" v-on:click="addLink" class="waves-effect waves-green btn-flat">Add</a>
            </div>
        </div>

        <!-- Modal About -->
        <div id="modal-about" class="modal">
            <div class="modal-content">
                <h4>About PWAs</h4>
                <p>This little webiste is intended to easily open links inside self-contained Chrome instances in
                    Android.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <!-- List of links -->
        <h4>PWAs Links</h1>
            <ul class="collection">
                <li class="collection-item avatar z-depth-2" v-for="link in links"
                    v-on:click="this.window.location.href = link.url">
                    <img v-bind:src="favLink(link)" class="circle">
                    <span class="title">{{link.title}}</span>
                    <p>{{link.url}}</p>
                    <a class="secondary-content">
                        <i v-on:click.stop.prevent="installLink(link)"
                            class="material-icons small green-text">file_download</i>
                        <i v-on:click.stop.prevent="removeLink(link)"
                            class="material-icons small red-text">remove_circle_outline</i>
                    </a>
                </li>
            </ul>
            <p v-if="!links.length">
                Use the + button to add links to the homepage.
            </p>


            <!-- FAB -->
            <div id="fab" class="fixed-action-btn direction-top">
                <a class="btn-floating btn-large teal">
                    <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                    <li><a class="btn-floating blue" v-on:click="modal.about.open()"><i
                                class="material-icons">info_outline</i></a></li>
                    <li><a class="btn-floating green" v-on:click="modal.add.open()"><i
                                class="material-icons">add</i></a>
                    </li>
                </ul>
            </div>
    </div>


    <script type="text/javascript">
        // localStorage persistence
        const STORAGE_KEY = "PWA-links";
        const linkstorage = {
            fetch: function () {
                const links = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
                linkstorage.uid = links.length;
                return links;
            },
            save: function (links) {
                localStorage.setItem(STORAGE_KEY, JSON.stringify(links));
            }
        };

        const app = new Vue({
            el: "#app",

            data: {
                links: linkstorage.fetch(),
                newLink: "",
                newLinkName: "",
                error: "",
                modal: {
                    add: null,
                    about: null
                }
            },

            // watch links change for localStorage persistence
            watch: {
                links: {
                    handler: function (links) {
                        linkstorage.save(links);
                    },
                    deep: true
                }
            },

            methods: {
                addLink: function () {
                    let url = "";
                    // ensure the URL is valid
                    try {
                        url = new URL(this.newLink);
                    } catch {
                        this.error = 'the provided URL is not a valid URL';
                        return;
                    }
                    // ensure the URL is unique
                    if (this.links.filter(function (l) { return l.url == url.href; }).length) {
                        this.error = 'the provided URL is already present';
                        return;
                    }
                    // if no title is set, add default to hostname
                    if ((this.newLinkName || "").trim().length == 0) {
                        this.newLinkName = url.hostname;
                    }
                    // save the new entry
                    this.links.push({
                        url: url.href,
                        title: this.newLinkName,
                        domain: url.hostname
                    });
                    // clear errors and clsoe modal
                    this.error = null;
                    this.modal.add.close();
                },

                removeLink: function (link) {
                    this.links.splice(this.links.indexOf(link), 1);
                },

                installLink: function (link) {
                    window.location.href = `/?url=${link.url}&title=${link.title}`;
                },

                favLink: function (link) {
                    return `https://www.google.com/s2/favicons?sz=64&domain=${link.domain}`;
                }
            },


            mounted: function () {
                this.modal.add = M.Modal.init(document.getElementById('modal-add'));
                this.modal.about = M.Modal.init(document.getElementById('modal-about'));
                M.FloatingActionButton.init(document.getElementById('fab'), { direction: 'top' });
                console.log("mounted");
            }
        });
    </script>
</body>

</html>